.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.active{
    color: gold;
}

.settings{
    margin-top: 20px;
}

.item_friends{
    margin-top: 40px;
}

.item_friends a{
    font-size: 30px;
}

.friends{
    margin-top: 10px;
}
