.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active{
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .dialog {
    color: white;
}

.item img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

